
#header {
	background:#0000CD;
	color:white;
	width:1012;
	float:right;
	font-size:26px;
	text-align:center;
	padding:20px;
	}
#nav {
	background:#0000CD;
	width:220px;
	height:800px;
	float:left;
	}
#footer {
	background:#0000CD;
	height:50px;
	width:1252px;
	color:white;
	font-size:20px;
	text-align:right;
	padding:10px;
	float:left;
	}
#section {
	background-image:url("c.jpg");
	background-repeat: no-repeat;
	color:black;
	width:1052;
	height:800;
	float:right;
	}
#headers {
	background:#0000CD;
	width:220px;
	height:204px;
	}
